body{
	margin: 0;
	padding: 0px;
}
.bodysp{
	height: 1500px;
}
div.nhan .nhan1{
	background: linear-gradient(to bottom right, #D585FF, #00FFEE);
	color: white;
}
p.bg1{
	background: linear-gradient( #D585FF, #00FFEE);
	font-size: 25px;
}
.ctsp{
	width: 960px;
	height: 600px;
	margin: 20px auto;
	box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.28);
}

.ctsp div h2{
	font-size: 30px;
	border-top: 5px solid #013599;	
	border-bottom: 5px solid #013599;
	padding: 20px 0;
	text-align: center;
}
ul, #main-image{
	float: left;
}
.ctsp ul li{
	list-style: none;
	margin-left: 50px
}
#body ul li img{
	width: 70px;
	cursor: pointer;
}
#main-image{
	width: 300px;
	margin:60px;
	height: 300px;
}
#main-image img{
	width: 300px;
}
.mota{
	height:500px;
    overflow-x:hidden;
    overflow-y:auto;
}
.mota::-webkit-scrollbar{
	width: 5px;
}
.mota::-webkit-scrollbar-thumb{
	width: 5px;
	background: linear-gradient(to bottom right, #D585FF, #00FFEE);
	border-radius: 10px;
}
.hn{
	height:400px;
    overflow-x:hidden;
    overflow-y:auto;
}
.hn li{
	border-bottom: solid 1px;
}
.hn::-webkit-scrollbar{
	width: 5px;
}
.hn::-webkit-scrollbar-thumb{
	width: 5px;
	background: linear-gradient(to bottom right, #D585FF, #00FFEE);
	border-radius: 10px;
}


